.DS_Store
*.bak
*.old
*.tmp
*.log
*.aux
*.out
*.fls
*.hd
*.toc
*.???gf
*.????gf
*.dvi
*.ps
*.pdf
!/latex/fdsymbol.pdf
*.tex
*.sty
*.fdb_latexmk
*.otf
*.pfa
*.pfb
*.tfm
*.afm
*.map
*.dep
*.zip
*.gz
/test
/temp
/venv
